<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      <div style="display: flex;align-items: center;justify-content: center;">
      <span>LINEUP</span><img src="assets/imgs/app_icon_2.png" style="width: 40px;"/>     
     </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>     

  <div id="home-maintab-header">
    <p style="margin: 5px 5px 5px 0px;">Latest Reports</p>
  </div>

  <!-- Weather Reports -->
  <div id="home-maintab-weather-reports-container row" style="padding: 6px;">
    <div *ngIf="readmoreClicked == false" style="max-height:50%">
    <div class="home-main-tab-weather-reports" *ngFor="let weatherItem of weatherReports; let i = index;"  (click)="onClickReportItem(weatherItem)" style="display: flex;">
      <div style="padding: 5px;width: 80px;height: 80px;position: relative;" *ngIf="weatherItem.postfile && weatherItem.postfile.data!=''"
            class="home-location-detail-reports-img">
          <img *ngIf="weatherItem.postfile.type==0" [src]="weatherItem.postfile.data"
                (click)="onClickVideoAttachment($event,weatherItem.postfile.data, weatherItem.postfile.type)" style="width: 100%;height: 100%;object-fit: cover;" />
          <img *ngIf="weatherItem.postfile.type==1" [src]="weatherItem.postfile.thumb"
                (click)="onClickVideoAttachment($event,weatherItem.postfile.data, weatherItem.postfile.type)" style="width: 100%;height: 100%;object-fit: contain;" />
                <ion-icon *ngIf="weatherItem.postfile.type==1" name="play" style="position: absolute;
                color: white;
                left: calc(50% - 10px);
                top: calc(50% - 10px);"></ion-icon>
      </div>
      <div style="width: 100%;position: relative;">
        <div class="home-main-tab-weather-reports-location" style="padding-bottom: 0;">
          <span>{{weatherItem.location.name}}</span>
          <p class="home-main-tab-weather-reports-waveheight" style="font-size: 10px;">
            Height: {{weatherItem.waveHeight | round: true}} ft  
            Form: {{arrWaveQualities[weatherItem.waveQuality]}}
          </p>
        </div>
        <!-- <ion-icon name="more" class="iconStyle" (click)="setDefault(weatherItem)"></ion-icon> -->

        <div class="home-main-tab-weather-reports-body">
          <div>
            <p class="home-main-tab-weather-reports-reporttxt" *ngIf="weatherItem.reporttxt!=''" >
              &quot;{{(weatherItem.reporttxt.length>250)? (weatherItem.reporttxt | slice:0:250)+' ...':(weatherItem.reporttxt)}}&quot;
            </p>
          </div>
          <div class="home-main-tab-weather-reports-reporttime" style="position: absolute;right: 6px;bottom: 0px;">
            <p>
              {{weatherItem.username | formatname}}.&nbsp;{{weatherItem.createdat | millitotime: true}}
            </p>
          </div>
        </div>
      </div>
    </div>
    </div>
   
    <div *ngIf="readmoreClicked"  style="max-height:50%">
    <div class="home-main-tab-weather-reports" *ngFor="let weatherItem of weatherReportsFilter; let i = index;" (click)="onClickReportItem(weatherItem)" style="display: flex;">
      <div style="padding: 5px;width: 80px;height: 80px;" *ngIf="weatherItem.postfile && weatherItem.postfile.data!=''"
      class="home-location-detail-reports-img">
    <img *ngIf="weatherItem.postfile.type==0" [src]="weatherItem.postfile.data"
          (click)="onClickVideoAttachment(weatherItem.postfile.data, weatherItem.postfile.type)" style="width: 100%;height: 100%;object-fit: cover;"/>
    <img *ngIf="weatherItem.postfile.type==1" [src]="weatherItem.postfile.thumb"
          (click)="onClickVideoAttachment(weatherItem.postfile.data, weatherItem.postfile.type)" style="width: 100%;height: 100%;object-fit: contain;"/>
</div>
<div style="width: 100%;position: relative;">
  <div class="home-main-tab-weather-reports-location" style="padding-bottom: 0;">
    <span>{{weatherItem.location.name}}</span>
    <p class="home-main-tab-weather-reports-waveheight" style="font-size: 10px;">
      Height: {{weatherItem.waveHeight | round: true}}ft  
      Form: {{arrWaveQualities[weatherItem.waveQuality]}}
    </p>
  </div>
  <div class="home-main-tab-weather-reports-body" >
    
    <div>
      <p class="home-main-tab-weather-reports-reporttxt" *ngIf="weatherItem.reporttxt!=''" >
        &quot;{{(weatherItem.reporttxt.length>250)? (weatherItem.reporttxt | slice:0:250)+' ...':(weatherItem.reporttxt)}}&quot;
      </p>
    </div>
    <div class="home-main-tab-weather-reports-reporttime" style="position: absolute;right: 6px;bottom: 0px;">
      <p>
        {{weatherItem.username | formatname}}.&nbsp;{{weatherItem.createdat | millitotime: true}}
      </p>
    </div>
  </div>
</div>
    </div>
    </div>
    <div>
      <p *ngIf="weatherReportsFilter && weatherReportsFilter.length > 4 && readmoreClicked == false" (click)="show(1)" style="margin:0px;text-align: end;
      font-size: 12px;
      color: blue;">show more</p>
      <p *ngIf="weatherReportsFilter &&  weatherReportsFilter.length > 4 && readmoreClicked" (click)="show(0)" style="margin:0px;text-align: end;
      font-size: 12px;
      color: blue;">show less</p>
    </div>     
  </div>

  <!-- Shop Reports -->
  <div id="home-maintab-shop-reports-container">
    <div id="home-maintab-shop-reports-header">
      <p style="margin:0px;">Recent Offers</p>
    </div>
    <div id="home-maintab-shop-reports-body" *ngIf="allNewSurfBoards.length">
      <div class="home-maintab-shop-reports-item">
        <ion-grid style="padding:0px;">
          <ion-row nowrap id="home-maintab-shop-reports-img-container">
            <ion-col size="3" *ngFor="let boardItem of allNewSurfBoards; let i = index;"  [style.margin]="(i==0?'0px 0px 0px 0px':'0px 0px 0px 3px')">
              <div class="home-maintab-shop-reports-itemimg" (click)="viewItemDetail(i)">
                <img src="{{boardItem.imgs?boardItem.imgs[0]:'assets/imgs/img-surfboard.svg'}}" />
                <div class="home-maintab-shop-reports-itemimg-description">
                  <p>
                    {{boardItem.title}}
                  </p>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>

  <!-- Recent Discussions -->
  <div id="home-maintab-discussions-container">
    <div id="home-maintab-discussions-header">
      <p style="margin:10px 0px 0px 0px;">Discussions</p>
    </div>
    <div id="home-maintab-discussions-body">
      <div class="home-maintab-discussion-item" *ngFor="let discussion of arrDiscussionsFilter" (click)="onClickDiscussionItem(discussion)">
        <div class="home-maintab-discussion-item-header">
          <span>
            {{discussion.title}}
          </span>
        </div>
        <div class="home-maintab-discussion-item-body">
          <p>
            &quot;{{discussion.content}}&quot;
          </p>
        </div>
        <div class="home-maintab-discussion-item-footer">
          <p>
            {{discussion.postername | formatname}}.&nbsp;{{discussion.createdat | millitotime: true}}
          </p>
        </div>
      </div>

      <div>
        <p *ngIf="arrDiscussionsFilter && arrDiscussionsFilter.length <= 4 && arrDiscussions.length > 4" (click)="showMore(1)" style="margin:0px;text-align: end;
        font-size: 12px;
        color: blue;">show more</p>
        <p *ngIf="arrDiscussionsFilter &&  arrDiscussionsFilter.length > 4" (click)="showMore(0)" style="margin:0px;text-align: end;
        font-size: 12px;
        color: blue;">show less</p>
      </div>  
    </div>
  </div>
</ion-content>
