<ion-content no-padding>
  <div id="shop-search-bar">
    <ion-searchbar color="white" placeholder="Search" no-padding [(ngModel)]="itemSearchQuery" (ionChange)="searchItems()"></ion-searchbar>
  </div>

  <div id="shop-main-container">
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="segmentChanged()">
      <ion-segment-button value="0">
        <ion-label>All Items</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>My Items</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>Saved Items</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3">
        <ion-label>Conversations</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-grid *ngIf="selectedSegment !== '3'">
      <ion-row *ngIf="searchResults && searchResults.length > 0"> 
        <ion-col size="4" *ngFor="let item of searchResults">
          <div class="home-shop-item" (click)="viewItemDetailPage(item.id)">
            <img [src]="item.imgs&&item.imgs[0]?item.imgs[0]:''" />
            <div class="home-shop-item-description">
              <p>{{item.title}}</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="searchResults && searchResults.length == 0">
        <ion-col size="12">
           <p>No data found in near by location</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="selectedSegment === '3'">
      <ion-header no-border>     
        <ion-toolbar>
          <!-- <ion-title color="navback">Conversations</ion-title> -->
          <!-- <p (click)="onClickPopOver()" style="text-decoration: underline; color: blue;text-align: end;margin: 0px 20px;">Hidden Messages</p> -->
          <!-- <ion-buttons slot="end" style="background-color: rgba(0,0,0,0.1);border-radius: 5px;" (click)="onClickPopOver()">
            <ion-button fill="clear" > -->
              <p style="text-align: end;margin: 0px 10px;">
              <ion-text (click)="onClickPopOver()" style="text-decoration: underline; color: blue;">Hidden Conversations</ion-text>
              </p>
              <!-- <p></p> -->
            <!-- </ion-button>
          </ion-buttons> -->
        </ion-toolbar>
      </ion-header>
      <div id="home-activity-contact-container">
        <div class="home-activity-contact-item" *ngFor="let contact of contacts; let i = index;" (click)="viewChatRoom(i)" style="padding: 10px;">
          <ion-card style="display: flex;margin: 0px;padding: 10px;">
          <div class="home-activity-contact-img">
            <div class="home-activity-contact-boardimg">
              <img [src]="contact.boardImg" style="width:80px;height: 80px;object-fit: cover;" />
            </div>
          </div>
          <div class="home-activity-contact-main" style="margin-left: 10px;width: calc(100% - 90px);display: flex;flex-direction: column;justify-content: center;">
            <div>
              <ion-text>
                {{contact.boardName | titlecase}}
              </ion-text>
              <br/>
              <ion-text>
                Item: {{contact.name ? (contact.name | formatname):''}}
              </ion-text>
              <br/>
              <ion-text (click)="onClickMessageControlBtn($event, contact.itemid, 0)" style="text-decoration: underline; color: blue;">Hide Conversation</ion-text>
              <!-- <ion-buttons slot="start" style="background-color: rgba(0,0,0,0.1);border-radius: 5px;">
                <ion-button fill="clear" (click)="onClickMessageControlBtn($event, contact.itemid, 0)">
                  <p>Hide Conversation</p>
                </ion-button>
              </ion-buttons> -->
            </div>
          </div>
        </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="selectedSegment !== '3'">
  <ion-toolbar>
    <ion-button (click)="viewNewSurfboardPage()">
      Post item for Sale
    </ion-button>
  </ion-toolbar>
</ion-footer>
