<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="navback"></ion-back-button>
    </ion-buttons>
    <!-- <ion-icon color="navback" name="arrow-back" (click)="onClickBackBtn()"></ion-icon> -->
    <ion-title>{{itemTitle}}</ion-title>
    <ion-icon slot="end" [color]="isFavoriteProd?'activestar':'light'" name="star" (click)="onToggleFavoriteBtn()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides pager="true" [options]="slideOptions" *ngIf="!isCurrentUser">
    <ion-slide *ngFor="let img of selectedItem.imgs">
      <img [src]="img" (click)="onClickItemImage()"/>
    </ion-slide>
  </ion-slides>
  <ion-grid *ngIf="isCurrentUser">
    <ion-row nowrap id="home-shopnewitem-imgrow">
      <ion-col *ngFor="let itemImg of selectedItem.imgs; let i = index;" size="4">
        <div class="home-shopnewitem-emptyimg-container" (click)="getFile(i)">
          <div class="home-shopnewitem-emptyimg">
            <img [src]="itemImg == ''?'assets/imgs/img-plus.svg': itemImg" [class]="itemImg==''?'home-shopnewitem-noimg':'home-shopnewitem-itemimg'" />
            <p *ngIf="itemImg==''">Upload Image</p>
          </div>
        </div>
      </ion-col>
        <ion-col *ngIf="selectedItem.imgs.length<3" size="4">
          <div class="home-shopnewitem-emptyimg-container" (click)="getFile(selectedItem.imgs.length)">
            <div class="home-shopnewitem-emptyimg">
              <img src="assets/imgs/img-plus.svg" class="home-shopnewitem-noimg" />
              <p>Upload Image</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>

  <div id="home-shop-item-owner-header">
    <p>Owner</p>
  </div>

  <div id="home-shop-item-owner-info">
    <img src="assets/imgs/img-person.svg" />
    <span>{{selectedItem.ownername | formatname}}</span>
  </div>
  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-input type="text" [(ngModel)]="selectedItem.description" [disabled]="!isCurrentUser"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Price($)</ion-label>
    <ion-input type="number" [(ngModel)]="selectedItem.price" [disabled]="!isCurrentUser"></ion-input>
  </ion-item>

  <div id="home-shop-item-btncontainer" *ngIf="!isCurrentUser">
    <div>
    <ion-button color="primary" (click)="sendMessageToOwner()" style="width:100%">Send Message</ion-button>
    </div>
  </div>
  <div id="home-shop-item-btncontainer" *ngIf="isCurrentUser">
    <div>
      <ion-button color="primary" (click)="onClickSaveBtn()">Save</ion-button>
    </div>
    <div>
      <ion-button color="primary" (click)="onClickItemDelete()">Sold</ion-button>
    </div>
  </div>
</ion-content>
