ion-header {
    ion-toolbar {
        --background: #84A1B3;
    }
}

ion-searchbar {
    --background: var(--ion-color-primary-contrast);
}
.toolbar-background{
    
}
ion-list {
    position: absolute;
    width: 100%;
    z-index: 2;   
}

#home-explore-map {
    width: 100%;
    height: 60vh;
}

#home-explore-selected-location {
    background-color: #7dc7ff;
    p {
        padding: 5px 16px;
        margin: 0;
        color: white;
        font-weight: bold;
    }
}

.home-explore-mapinfo {
    margin-top: 1.5vh;
    position: relative;
    display: flex;
    img {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);
    }
}

.home-explore-mapinfo-container {
    flex: 2;
    padding: 10px;
    p {
        margin: 3px;
    }
}

.home-explore-mapinfo-waveheight, .home-explore-mapinfo-wavequality {
    color: #2f2f2f;
}

.home-explore-mapinfo-report-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.setHeight{
    height: 60vh;
}
.setHeight2{
    height: 58vh;
}