<ion-header no-border>
  <ion-toolbar >
    <ion-searchbar style="z-index:2;padding: 14px !important;
    height: auto !important;" [(ngModel)]="locationQuery" (ionChange)="searchPlace()" placeholder="Search the beach"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-list class="ion-no-padding">
    <ion-item *ngFor="let place of places" (click)="selectPlace(place)">{{place.name}}</ion-item>
  </ion-list>

  <div #exploremap id="home-explore-map" [ngClass]="waveInfo.location.name == '' ? 'setHeight' : 'setHeight2'"></div>
  <div id="home-explore-selected-location">
    <p *ngIf="waveInfo.location.name!=''" style="display: flex;width: 100%;justify-content: space-between;align-items: center;">
      {{waveInfo.location.name}}
     <ion-icon name="arrow-dropright" style="font-size: 30px;"></ion-icon>
    </p>
  </div>
  <ion-row>
    <ion-col size="12" (click)="onClickDetail()">
      <div class="home-explore-mapinfo-waveheight">
        <p style="margin:5px 0px">Wave height: <span>{{waveInfo.waveHeight | round: false}} ft</span></p>
      </div>
      <div class="home-explore-mapinfo-wavequality">
        <p style="margin:5px 0px">Wave form: <span>{{arrWaveQualities[waveInfo.waveForm]}}</span></p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <a (click)="onClickMissingReport()">Want a Beach Added?</a>
    </ion-col>
  </ion-row>
</ion-content>
