<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="navback"></ion-back-button>
    </ion-buttons>
    <ion-title>{{locationTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="home-location-detail-reports-item" *ngFor="let report of arrReports">
    <div class="home-location-detail-reports"></div>
    <div class="home-location-detail-reports-content" style="padding: 0px;">
      <div class="home-location-detail-reports-img" style="position: relative;">


        <img *ngIf="report.postfile.type==0" [src]="report.postfile.data"
              (click)="onClickVideoAttachment(report.postfile.data, report.postfile.type)" style="object-fit: contain;"/>
        <img *ngIf="report.postfile.type==1" [src]="report.postfile.thumb"
              (click)="onClickVideoAttachment(report.postfile.data, report.postfile.type)"/>
              <ion-icon *ngIf="report.postfile.type==1" name="play" style="position: absolute;
              color: white;
              left: calc(50% - 10px);
              top: calc(50% - 10px);"></ion-icon>


        <!-- <img *ngIf="report.postfile.data!=''" [src]="report.postfile.data" (click)="viewReportImage(report.postfile.data)"/> -->
        <!-- <img *ngIf="report.postfile.data==''" src="assets/imgs/app_icon.png" (click)="viewReportImage('assets/imgs/app_icon.png')" style="object-fit: contain;"/> -->
      </div>
      <div class="home-location-detail-reports-txt" style="width:100%;padding:0px;">
        <p style="margin:0px">{{report.reporttxt}}</p>
      </div>  
    </div>
    <div class="home-location-detail-reports-footer">
      <div>
        <p>{{report.username | formatname}}</p>
      </div>
      <div>
        <p style="text-align: right;">
          {{report.createdat | millitotime: true}}
        </p>
      </div>
    </div>
  </div>
</ion-content>
