// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #84A1B3;
  --ion-color-primary-rgb: 132,161,179;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #748e9e;
  --ion-color-primary-tint: #90aabb;

  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12,209,232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112,68,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

.ion-color-navback {
  --ion-color-base: #CAE9F7;
  --ion-color-base-rgb: 202,233,247;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0,0,0;
  --ion-color-shade: #b2cdd9;
  --ion-color-tint: #cfebf8;
}

.ion-color-grayicon {
  --ion-color-base: #6e6e6e;
  --ion-color-base-rgb: 110,110,110;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #616161;
  --ion-color-tint: #7d7d7d;
}

.ion-color-white {
  --ion-color-base: #ffffff;
  --ion-color-base-rgb: 255,255,255;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0,0,0;
  --ion-color-shade: #e0e0e0;
  --ion-color-tint: #ffffff;
}

.ion-color-activestar {
  --ion-color-base: #ff9f40;
  --ion-color-base-rgb: 255,159,64;
  --ion-color-contrast: #ff9f40;
  --ion-colo-contrast-rgb: 255,159,64;
  --ion-color-shade: #e08c38;
  --ion-color-tint: #ffa953;
}

.gallery-modal .modal-wrapper {
  background: rgba(44, 39, 45, 0.45) !important;
}

.report-modal .modal-wrapper {
  width: 90%;
  height: 65%;
  border-radius: 15px;
}

.picker-opts {
  max-width: 40px !important;
}

// iOS list remove bottom margin
.list-ios {
  margin-bottom: 0 !important;
}

// Global Divier class
.divider {
  border-bottom: 1px solid #d2dde4;
  margin: 2vh 0;
}

// Disable button capitalize
ion-button {
  text-transform: none;
}